h1= title

p
    | This is a contact app showing the use of&nbsp;
    a(href='http://www.neo4j.org/', target='_blank') Neo4j
    |  from Node.js. It uses the&nbsp;
    a(href='https://github.com/thingdom/node-neo4j', target='_blank') node-neo4j
    |  library, available on npm as&nbsp;
    code neo4j
    .
p   
    |Please refer to 
    a(href='https://github.com/AndrewESmith/ReadOnlyContactSystem/blob/master/README.md', target='_blank') readme
    |  for further information.
p
    strong
        | Individuals:&nbsp;
        a(href='/individuals') List all individuals
p 
    strong
        | Individual stocks:&nbsp;
        a(href='/individualstocks') List all individual stocks

p
    | Since I occasionally experience a time out in Heroku an alternative is to try the following links to test retrieval of individual nodes.
    | (see comments in readme for further details)
p
        a(href='/individuals/20004')  Test visit specific individual
P
        a(href='/individualstocks/2621') Test visit to specific inidividual stock

p
    | Copyright Andrew E Smith 2012
